<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}tytuł strony{% endblock %}</title>
</head>

<body>

    <div>
    MENU GŁÓWNE: {% if user.is_authenticated %}<a href="{% url 'account_logout' %}">Wyloguj się</a> {% else %}<a href="{% url 'account_login' %}">Zaloguj się</a>, <a href="{% url 'account_signup' %}">Załóż konto</a>{% endif %}
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>
