{% extends 'base.html' %}

{% block content %}

<ul>
{% for author in object_list %}
    <li><a href="{% url 'shelf:author-detail' author.id %}">{{ author.first_name }} {{ author.last_name }}</li>
{% endfor %}
</ul>

{% endblock %}
