{% extends "base.html" %}

{% block content %}

    <div><a href="{% url 'shelf:author-list' %}">Powrót do listy autorów</a></div>
    Profil autora: {{ object.last_name }}, {{ object.first_name }}

    <h2>Książki:</h2>
    <ul>
    {% for book in object.book_set.all %}
        <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
        <!-- <li><a href="{% url 'shelf:book-detail' pk=book.id %}">{{ book.title }}</a></li> -->
    {% endfor %}
    </ul>

{% endblock %}
